.container-fluid {
  padding: 0;
  .header {
    background: #ddd;
    h3, h5 {
      padding: 8px 16px 0;
    }
    .logo {
      img {
        max-width: 100%;
        width: 200px;
      }
    }
  }
}
